{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FakeCSV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "my.css" %}">
</head>

<div class="topnav">
    <img class="logo"  src="{% static "img/FakeCSV.png" %}">
    {% if request.user.is_authenticated  %}
        <button onclick="window.location.href='/accounts/logout'">Logout</button>
        <a>Неllo, {{ user.username }} </a>

    {% endif %}

</div>



{% block content %}{% endblock %}
</html>